/*Variables*/

:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7E7E7E;
	--basic-grey-light: #E5E5E5;
	--basic-extra-light: #F7E296;
	--special-yellow: #F7E296;
	--special-green: #91C92F;
	--special-yellow-dark: #F0C52E;
	/*  --white-30: #ffffff;  Прозрачный цвет 30%*/
	/*  --white-60: #ffffff;  Прозрачный цвет 60%*/
}


@font-face {
	font-family: "Gilroy";	/* Браузер сначала попробует найти шрифт локально */
	font-style: extrabold;
	font-weight: 800;
	src: local("Gilroy"),
	url("/fonts/gilroyextrabold.woff2") format("woff2"),/* Если не получилось, загрузит woff2 */
	url("/fonts/gilroyextrabold.woff") format("woff");/* Если браузер не поддерживает woff2, загрузит woff */
 }
@font-face {
	font-family: "Gilroy";	/* Браузер сначала попробует найти шрифт локально */
	font-style: light;
	font-weight: 300;
	src: local("Gilroy"),
	url("/fonts/gilroylight.woff2") format("woff2"),/* Если не получилось, загрузит woff2 */
	url("/fonts/gilroylight.woff") format("woff");/* Если браузер не поддерживает woff2, загрузит woff */
 }
 @font-face {
	font-family: "Open Sans";	/* Браузер сначала попробует найти шрифт локально */
	font-style: normal;
	font-weight: 500;
	src: local("Gilroy"),
	url("/fonts/opensans.woff2") format("woff2"),/* Если не получилось, загрузит woff2 */
	url("/fonts/opensans.woff") format("woff");/* Если браузер не поддерживает woff2, загрузит woff */
 }
@font-face {
	font-family: "Open Sans";	/* Браузер сначала попробует найти шрифт локально */
	font-style: light;
	font-weight: 300;
	src: local("Gilroy"),
	url("/fonts/opensanslight.woff2") format("woff2"),/* Если не получилось, загрузит woff2 */
	url("/fonts/opensanslight.woff") format("woff");/* Если браузер не поддерживает woff2, загрузит woff */
 }


/*Global*/

.page-body {
	min-width: 960px;  /*минимальный скрол*/
	margin: 0px; /*отступы от экрана*/
	padding: 0; /*отступы от экрана*/
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 200;
	color: var(--basic-black);
	background-color: var(--basic-white);
	list-style: none;
}

.page-title entry-title {


}

a {
	text-decoration: none;  /*подчеркивание у ссылок*/
}

.text {
	min-width: 960px;  /*минимальный скрол*/
	margin: 0px; /*отступы от экрана*/
	padding: 0; /*отступы от экрана*/
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 15px;
	line-height: 28px;
	font-weight: lighter;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.group4 {
	text-align: left;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 0%
	font-weight: lighter;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*Main navigation*/

.main-navigation {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 0%;
	font-size: 15px;
	line-height: 30px;
	color: #990236;
	background-color: transparent;
	text-transform: uppercase;
	list-style: none;
	text-align: left;

}

.main-navigation-color {
	color: --special-yellow-dark;
	background-color: transparent;
}


.main-navigation-item {


}

.catalog-list {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: feSpotLight;
	letter-spacing: 0%;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
	background-color: transparent;
	text-transform: uppercase;
	text-align: left;
	list-style: none
}

.catalog-menu {
	font: Gilroy;
	text-align: left;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: feSpotLight;
	letter-spacing: 0%;
	color: var(--basic-black);
	background-color: transparent;
}	list-style: none


.site-navigation {
	list-style: none;
}

.site-navigation-current a:not([href]) {
background-color: var(--basic-black);
}



/*User navigation----------------------------------------------------*/

.site-navigation a,
.user-navigation a {
	color: var(--basic-black)
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: var(--basic-grey-light);
}


.header-item {
	text-align: left;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 0%;
	font-weight: lighter;
}


/*Slide_1----------------------------------------------------*/
.lead {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 57,58;
	letter-spacing: 0%;
	font-weight: 800;
	font: Gilroy;
	text-align: left;
	color: var(--basic-black);
	background-color: transparent;

}


/*main----------------------------------------------------*/

.main h2 {
	text-align: left;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 100%;
	letter-spacing: 0%;
}

.main-list {
/* list-style:none;*/
}

.main-item {
	text-align: center;
	}


	.characteristic {
		list-style: none;

	}


	.characteristic-value {
		text-align: left;
		font-family: "Gilroy", Arial, sans-serif;
		font-size: 36px;
		line-height: 100%;
		font-weight: lighter;
		letter-spacing: 10%;

	}

	.characteristic-name {
		text-align: left;
		font-family: "Gilroy", Arial, sans-serif;
		font-size: 13px;
		line-height: 100%;
		font-weight: lighter;
		letter-spacing: 10%;

	}





.main-info h2 {
	text-align: left;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 100%;
	font-weight: bolder; /*extrabold*/
	}

	.main-info-groop4 {
		text-align: left;
		font-family: "Gilroy", Arial, sans-serif;
		font-size: 16px;
		line-height: 28;
		font-weight: bolder; /*extrabold*/
		}

	.main-info-text {
		text-align: left;
		font-family: "Gilroy", Arial, sans-serif;
		font-size: 15px;
		line-height: 28;

		}

.main-contact h2 {
	text-align: left;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 100%;

	}

.services {
	font: Gilroy;
	text-align: center;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 800;
	letter-spacing: 20%;
	color: var(--basic-black);
	background-color: transparent;
	list-style: none;
	text-transform: uppercase;
}

	.services_item {
		font: Gilroy;
		text-align: center;
		font-family: "Gilroy", Arial, sans-serif;
		font-size: 18px;
		line-height: 18px;
		font-weight: 800;
		letter-spacing: 20%;
		color: var(--basic-black);
		background-color: transparent;
		list-style: none;
		text-transform: uppercase;
	}

	.services_item-color {









		color: var(--special-yellow);
		background-color: var(--basic-white);

	}

	.services-text {
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 300;
		letter-spacing: 10%;
		font-size: 15px;
		line-height: 30px;
		color: var(--basic-black);
		background-color: transparent;
		text-align: left;
	}


.popular {
	font: Gilroy;
	text-align: center;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 22.05px;
	font-weight: 800;
	letter-spacing: 5%;
	color: var(--basic-black);
	background-color: var(--basic-white);
	list-style: none;

}

.socials {

	list-style: none;

}



/*Button---------------------------------------------------------*/

.button {
font: Gilroy;
text-align: center;
font-family: "Gilroy", Arial, sans-serif;
font-size: 18px;
line-height: 30px;
font-weight: bolder;
color: #999999;
vertical-align: middle;
text-transform: uppercase;
background-color: #ffffff;
border: none;
}

.button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}

.button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;

}


.button:hover{
}

.logo {

}

.logo-header-color {
	fill: #e22121;
}

.logo-footer-color {
	fill: #F0C52E;
}

.text {
	font-size: 15px;
	line-height: 64px;

}


* {box-sizing: border-box;}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}

input {
  width: 250px;
  height: 42px;
  padding-left: 15px;

  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}

input:focus {
  width: 300px;
}



.logo_htmlacademy {
}


/* Стиль списка */
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: #eee;
 }

